@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
body{
	background-color: DodgerBlue;
}
:root{
   --yellow:#fed330;
   --red:navy;
   --white:#fff;
   --black:#222;
   --light-color:#777;
   --border:.2rem solid navy;
}

*{
   font-family: 'Rubik', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}

*::selection{
   background-color: var(--yellow);
   color:var(--black);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--yellow);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   stop-opacity: 7rem;
}

section{
   margin:0 auto;
   max-width: 1200px;
   padding:2rem;
}

.title{
	margin: 10px;
   text-align: center;
   margin-bottom: 2.5rem;
   font-size: 4rem;
   text-shadow: 2px 2px #ffffff;
   color:navy;
   text-transform: uppercase;
   text-decoration: underline;
   text-underline-offset: 1rem;
}

h3{
   font-size: 2rem;
   margin: 15px;
}

.heading{
   display: flex;
   align-items: center;
   justify-content: center;
   gap:1rem;
   flex-flow: column;
   background-color: var(--black);
   min-height: 20rem;
}
   
.heading h3{
   font-size: 5rem;
   color:var(--white);
   text-transform: capitalize;
}

.heading p{
   font-size: 2.3rem;
   color:var(--light-color);
}

.heading p a{
   color:var(--yellow);
}

.heading p a:hover{
   text-decoration: underline;
   color:var(--white);
}

.btn,
.delete-btn{
   margin-top: 1rem;
   display: inline-block;
   font-size: 2rem;
   padding:1rem 3rem;
   cursor: pointer;
   text-transform: capitalize;
   transition: .2s linear;
}

.btn{
   background-color: var(--yellow);
   color:var(--black);
}

.delete-btn{
   background-color: var(--red);
   color:var(--white);
}

.btn:hover,
.delete-btn:hover{
   letter-spacing: .2rem;
}

.disabled{
   opacity: .5;
   user-select: none;
   pointer-events: none;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
   background-color: var(--yellow);
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   color:var(--black);
}

.empty{
   border:var(--border);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;
   text-transform: capitalize;
   color:var(--red);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: MidnightBlue;
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:white;
}

.header .flex .navbar a{
   font-size: 2rem;
   color:white;
   margin:0 1rem;
}

.header .flex .navbar a:hover{
   color:LightSkyBlue;
   text-decoration: underline;
}

.header .flex .icons > *{
   margin-left: 1.5rem;
   font-size: 2.5rem;
   color:white;
   cursor: pointer;
}

.header .flex .icons > *:hover{
   color: LightSkyBlue;
}

.header .flex .icons span{
   font-size: 2rem;
}

#menu-btn{
   display: none;
}

.header .flex .profile{
   background-color: var(--white);
   border:var(--border);
   padding:1.5rem;
   text-align: center;
   position: absolute;
   top:125%; right:2rem;
   width: 30rem;
   display: none;
   animation: fadeIn .2s linear;
}

.header .flex .profile.active{
   display: inline-block;
}
@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

.header .flex .profile .name{
   font-size: 2rem;
   color:var(--black);
   margin-bottom: .5rem;
}

.header .flex .profile .account{
   margin-top: 1.5rem;
   font-size: 2rem;
   color:var(--light-color);
}

.header .flex .profile .account a{
   color:var(--black);
}

.header .flex .profile .account a:hover{
   color:var(--yellow);
   text-decoration: underline;
}
@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left: 0; right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: MidnightBlue;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

}

@media (max-width:450px) {
   
   html{
      font-size: 50%;
   }

   .title{
      font-size: 3rem;
   }

   .header .flex .logo{
      font-size: 2rem;
   }

   .hero .slide .content h3{
      font-size: 5rem;
   }

   .products .box-container{
      grid-template-columns: 1fr;
   }

   .heading h3{
      font-size: 3.5rem;
   }

   .products .cart-total{
      padding:1.5rem;
      justify-content: center;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }   

}
article{
	color:white;
	width:92%;
	float:left;
	/*border:1px;
	border-style:solid;
	border-color:blue;
	border-radius:3%;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, DarkBlue), color-stop(1, DodgerBlue) );
	background:-moz-linear-gradient( center top, DarkBlue 5%, DodgerBlue 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-size:100% 100%;
	*/
	text-align:center;
	padding:2%;
	margin:0% 2% 2% 2%;
}
footer{
	clear:both;
	font-family:arial;
	text-align:center;
}
small{
	color: white;
}
ul{
	font-size:120%;
	text-align:center;
	padding: 0px;
	padding-bottom: 10px;
	margin:0px;
}
ul li{
	font-size: 1.2em;
	border:0px;
	border-style:solid;
	border-color:blue;
	/*border-radius:20%;*/
	width: 80%;
	background-color:#036;
	text-align:center;
	margin: auto;
	padding-top: 6px;
	padding-bottom: 6px;
	display:inline-block;
	list-style-type: none;
}
ul li a{
	padding: 6px;
	text-decoration: none;
	color: #fff;
}
ul li:hover
{
	border:0px;
	border-style:solid;
	border-color:blue;
	/*border-radius:20%;*/
	padding: 6px;
	color: #fff;
	background-color: #369;
}
h2{
	margin-top:10px;
	margin-bottom:10px;
	font-size:180%;	
	color:PowderBlue;
	text-align:center;
	line-height:0px;
	text-shadow:3px 3px 3px Navy;
}
table{
	font-size:110%;
}
table td{
	padding-top:2px;
	padding-right:3px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0580fc), color-stop(1, #094e94) );
	background:-moz-linear-gradient( center top, #0580fc 5%, #094e94 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0580fc', endColorstr='#094e94');
	background-color:#0580fc;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #2986e3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #094e94), color-stop(1, #0580fc) );
	background:-moz-linear-gradient( center top, #094e94 5%, #0580fc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#094e94', endColorstr='#0580fc');
	background-color:#094e94;
}
.button:active {
	position:relative;
	top:1px;
}
p{
	text-align:left;
}
#sidebar{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, DeepSkyBlue), color-stop(1, LightSkyBlue) );
	background:-moz-linear-gradient( center top, DeepSkyBlue 5%, LightSkyBlue 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	
	/*border-radius:10%;*/
	float:left;
	width:15%;
	box-shadow:3px 3px 3px SteelBlue;
}
#sidebar ul{
	color:white;
	list-style: none;
}
#sidebar ul li{
	display: block;
	margin-top:10px;
}
#content{
	color:black;
	font-family:Arial;
	font-weight:normal;
	float:right;
	width:83%;
	margin: auto;
	padding-bottom: 15px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, DeepSkyBlue), color-stop(1, LightSkyBlue) );
	background:-moz-linear-gradient( center top, DeepSkyBlue 5%, LightSkyBlue 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	box-shadow:3px 3px 3px SteelBlue;
	
	/*-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;
	
	-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;*/
}
#content2{
	float:left;
	width:100%;
	background-color:lavender;
}
#leftBar{
	float:left;
	width:34%;
	text-align:center;
}
#leftBar p{
	text-align:center;
}
#midleBar{
	float:left;
	width:33%;
	text-align:center;
}
#midleBar p{
	text-align:center;
}
#rightBar{
	float:left;
	width:33%;
	text-align:center;
}
#rightBar p{
	text-align:center;
}
#pembelian{
	text-align:center;
}
#pembelian td p{
	text-align:center;
	margin-left:auto;
}
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:95%;
	box-shadow: 3px 3px 2px FloralWhite;
	border:1px solid #ffffff;
	margin: auto;
	/*-moz-border-radius-bottomleft:17px;
	-webkit-border-bottom-left-radius:17px;
	border-bottom-left-radius:17px;
	
	-moz-border-radius-bottomright:17px;
	-webkit-border-bottom-right-radius:17px;
	border-bottom-right-radius:17px;
	
	-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;
	
	-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;*/
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	/*-moz-border-radius-bottomright:17px;
	-webkit-border-bottom-right-radius:17px;
	border-bottom-right-radius:17px;*/
}
.CSSTableGenerator table tr:first-child td:first-child {
	/*-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;*/
}
.CSSTableGenerator table tr:first-child td:last-child {
	/*-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;*/
}.CSSTableGenerator tr:last-child td:first-child{
	/*-moz-border-radius-bottomleft:17px;
	-webkit-border-bottom-left-radius:17px;
	border-bottom-left-radius:17px;*/
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{

	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
	
	/*-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;*/
	
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
	
	/*-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;*/
}

.Login {
	margin:auto;padding:0px;
	width:30%;
	box-shadow: 3px 3px 2px FloralWhite;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:17px;
	-webkit-border-bottom-left-radius:17px;
	border-bottom-left-radius:17px;
	
	-moz-border-radius-bottomright:17px;
	-webkit-border-bottom-right-radius:17px;
	border-bottom-right-radius:17px;
	
	-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;
	
	-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;
}.Login table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.Login tr:last-child td:last-child {
	-moz-border-radius-bottomright:17px;
	-webkit-border-bottom-right-radius:17px;
	border-bottom-right-radius:17px;
}
.Login table tr:first-child td:first-child {
	-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;
}
.Login table tr:first-child td:last-child {
	-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;
}.Login tr:last-child td:first-child{
	-moz-border-radius-bottomleft:17px;
	-webkit-border-bottom-left-radius:17px;
	border-bottom-left-radius:17px;
}.Login tr:hover td{
	background-color:#d3e9ff;
		
	
}
.Login td{
	vertical-align:middle;
	
	background-color:#aad4ff;

	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.Login tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Login tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Login tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.Login tr:first-child td{
	background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);

	background-color:#0057af;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	
	-moz-border-radius-topright:17px;
	-webkit-border-top-right-radius:17px;
	border-top-right-radius:17px;
	
	-moz-border-radius-topleft:17px;
	-webkit-border-top-left-radius:17px;
	border-top-left-radius:17px;
}
.Login tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0057af 5%, #0057af 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #0057af) );
	background:-moz-linear-gradient( center top, #0057af 5%, #0057af 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#0057af");	background: -o-linear-gradient(top,#0057af,0057af);

	background-color:#0057af;
}
.Login tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.Login tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
.about{
	font-size:2.6em;
	font-family:Arial;
	color: white;
	font-weight:bold;
	margin:auto;
	text-align:center;
}
.titlegraph{
	font-size:2.6em;
	font-family:Arial;
	color: black;
	font-weight:bold;
	margin:auto;
	text-align:center;
}
#Tampil{
	text-align:center;
	margin:auto;
}
.puter {
-webkit-animation: cssAnimation 1.029s 1 ease-in;
-moz-animation: cssAnimation 1.029s 1 ease-in;
-o-animation: cssAnimation 1.029s 1 ease-in;
}
@-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(164deg) scale(0.907) skew(-1deg) translate(0px); }
to { -webkit-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(164deg) scale(0.907) skew(-1deg) translate(0px); }
to { -moz-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(164deg) scale(0.907) skew(-1deg) translate(0px); }
to { -o-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(0px); }
}
.geser {
-webkit-animation: cssAnimation2 1.029s 1 ease-in;
-moz-animation: cssAnimation2 1.029s 1 ease-in;
-o-animation: cssAnimation2 1.029s 1 ease-in;
}
@-webkit-keyframes cssAnimation2 {
from { -webkit-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(-200px); }
to { -webkit-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(0px); }
}
@-moz-keyframes cssAnimation2 {
from { -moz-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(-200px); }
to { -moz-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(0px); }
}
@-o-keyframes cssAnimation2 {
from { -o-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(-200px); }
to { -o-transform: rotate(0deg) scale(0.907) skew(-1deg) translate(0px); }
}
a{
	text-decoration:none;
}
.pencarian{
	width: 80%;
	margin-bottom:12px;
}